# Hidden folders
.idea
.vscode

# Backup files
*~

# Logs
*.log


# Node.js
node_modules/

# Test coverage
coverage/

*.tgz

# Yarn - package manager
yarn.lock

# PNPM - package manager
shrinkwrap.yaml

# Project
dist/
