branches:
  - main

debug: true
ci: true
dryRun: false
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/changelog"
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/github"
  - "@semantic-release/npm"
